body{
    font-family: 'Rubik';
    background-color: #DDDDDD;
    color: #DDDDDD;
    padding-top: 115px;
    background: #485563;  
    background: -webkit-linear-gradient(to left, #29323c, #485563);
    background: linear-gradient(to left, #29323c, #485563);

}