body{
    font-family: 'Rubik';
    color: $claro;
    padding-top: 100px;
    background: $dark3;  
    background: -webkit-linear-gradient(to left, $dark4, $dark3);
    background: linear-gradient(to left, $dark4, $dark3);

}