#destacado{
    padding: 1rem;
    .destacado__tit{
        font-weight: 700;
    }
    .destacado__text{
        padding: 0rem 0.5rem;
        font-family: rubik;
        font-weight: 400;
        margin-block-end: auto;
        margin-block-start: auto;
    }
    .destacado__overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.7);
    }
}
.destacado_link{
    color: $claro;
    text-decoration: underline;
}
.destacado_link:hover{
    transition: 0.5s;
    color: $naranja;
}

.nav-link_tit{
    padding: 0rem;
    color: $claro;
    text-decoration: none;
}
.nav-link_tit:hover{
    transition: 0.5s;
    color: $naranja;
}

@media (max-width: $breakpoint-tablet){
    .destacado__overlay{
        display: none;
    }
    .carousel{
        padding-bottom: 0.1rem;
        margin-bottom: 1rem;
        border-bottom: $naranja solid 2px;
    }
}

#agenda{
    justify-content: center;
    
    .agenda-tit{
        align-self: center;
        font-weight: 700;
    }
    .agenda-pos{
        align-self: end;
    }
    .agenda-txt a p{
        color: $dark1;
    }
}
.list-group{
    flex:auto;
}
.list-group-item{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 2 1 0;
    padding: 0.5rem 1rem;
    color: $dark1;
    text-decoration: none;
    background-image: linear-gradient(to right, $claro 0%, $claro2 51%, $claro 100%);
    border: 1px solid rgba(0,0,0,.125);
    transition: 0.5s;
    background-size: 200% auto;
}
.list-group-item-action:hover{
    z-index: 1;
    background-position: right center;
    color: $dark1;
    text-decoration: none;
}