#destacado{
    padding: 1rem;
    .destacado__tit{
        font-weight: 700;
    }
    .destacado__text{
        padding: 0rem 0.5rem;
        font-family: rubik;
        font-weight: 400;
        margin-block-end: auto;
        margin-block-start: auto;
    }
}
.destacado_link{
    color: #DDDDDD;
    text-decoration: underline;
}
.destacado_link:hover{
    transition: 0.5s;
    color: #C98C27;
}

.dest__img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nav-link_tit{
    padding: 0rem;
    color: #DDDDDD;
    text-decoration: none;
}
.nav-link_tit:hover{
    transition: 0.5s;
    color: #C98C27;
}
.destacado__overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}
$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet){
    .destacado__overlay{
        display: none;
        position: static;
        padding-top: 1rem;
        margin-bottom: 1rem;
        background: none;
    }
    .carousel{
        padding-bottom: 0.1rem;
        margin-bottom: 1rem;
        border-bottom: #C98C27 solid 2px;
    }
}

#agenda{
    justify-content: center;
    
    .agenda-tit{
        align-self: center;
        font-weight: 700;
    }
    .agenda-pos{
        align-self: end;
    }
    .agenda-txt a p{
        color: #323d48;
    }
}
.list-group{
    flex:auto;
}
// .list-group-item{
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     flex: 2 1 0;
//     padding: 0.5rem 1rem;
//     color: #323d48;
//     text-decoration: none;
//     background-color: #dddddd;
//     border: 1px solid rgba(0,0,0,.125);
// }
// .list-group-item-action:hover{
//     z-index: 1;
//     color: #DDDDDD;
//     text-decoration: none;
//     background-color: #C98C27;
// }
.list-group-item{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 2 1 0;
    padding: 0.5rem 1rem;
    color: #323d48;
    text-decoration: none;
    background-image: linear-gradient(to right, #DDDDDD 0%, #cccccc 51%, #dddddd 100%);
    border: 1px solid rgba(0,0,0,.125);
    transition: 0.5s;
    background-size: 200% auto;
}
.list-group-item-action:hover{
    z-index: 1;
    background-position: right center;
    color: #323d48;
    text-decoration: none;
}