#destacado{
    padding: 1rem;
    .destacado__tit{
        font-weight: 700;
    }
    .destacado__text{
        font-family: rubik;
        font-weight: 400;
    }
}
.destacado_link{
    color: #DDDDDD;
    text-decoration: underline;
}
.destacado_link:hover{
    transition: 0.5s;
    color: #C98C27;
}

.dest__img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nav-link_tit{
    padding: 0rem;
    color: #DDDDDD;
    text-decoration: none;
}
.nav-link_tit:hover{
    transition: 0.5s;
    color: #C98C27;
}
.destacado__overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
}