@font-face {
    font-family: Stem;
    src: url(../assets/fnt/EM-Stem/OTF/Stem-BoldItalic.otf);
}

.borde-texto {
    color: #DDDDDD;
    text-shadow: -1px -1px 0 #323d48, 1px -1px 0 #323d48, -1px 1px 0 #323d48, 1px 1px 0 #323d48;
  }