header{
    background-color: $claro;
    border-bottom: $naranja solid 3px;
}
.navbar{
    border-bottom: $naranja solid 4px;
}
.navbar-nav{
    font-size: larger;
}
.bg-custom{
    background-color: white;
}

.logo__size{
    height: 80px;
    width: 80px;
}
.logo__size:hover{
        transition: 2s;
        transform: scale(1.2,1.2);
}
.navbar-light .navbar-nav .nav-link{
    color: $dark1;
}
.navbar-light .navbar-nav .nav-link:hover{
    transition: 0.5s;
    color: $naranja;
}
.redes{
    display: flex;
    color: $dark1;
    padding-top: 0.1rem;
    justify-content: flex-end;
    font-weight: 500;
    font-size: medium;
    background-color: $claro;
    .redes__p{
        align-self: center;
        margin: 0.25rem;
    }
    .redes__ico{
        margin: 0.1rem;
    }
}