#noticias{
    padding: 1rem;
    justify-content: space-evenly;
    align-content: center;
    .noticias__tab{
        justify-content: space-evenly;
    }
    .noticias__ant{
    font-family: rubik;
    }
    .noticias__card{
        background-color: #3b4754;
        padding: 0.5rem;
        margin-top: 0.5rem;
    }
}
.nav-link{
    color: #DDDDDD;
}
.nav-link:hover{
    color: #c98c27
}
.nav-link:focus{
    color: #dddddd;
}
.bg-dark{
    background-color: #323d48;
}
.barra{
    border-bottom: #c98c27 solid 2px;
}
.p-1{
    padding: 1rem;
}
.bg-cards{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-cards:hover{
    transition: 2s;
    background-blend-mode: overlay;
    
}
$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet){
    .bg-cards{
        background-blend-mode: overlay;
    }
}