.borde-texto {
    color: $claro;
    text-shadow: -1px -1px 0 $dark1, 1px -1px 0 $dark1, -1px 1px 0 $dark1, 1px 1px 0 $dark1;
  }

.nav-link{
    color: $claro;
}
.nav-link:hover{
    color: $naranja
}
.nav-link:focus{
    color: $claro;
}
.bg-dark{
    background-color: $dark1;
}
.barra{
    border-bottom: $naranja solid 2px;
}
.p-1{
    padding: 1rem;
}
.bg-cards{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-cards:hover{
    transition: 2s;
    background-blend-mode: overlay;
    
}
@media (max-width: $breakpoint-tablet){
    .bg-cards{
        background-blend-mode: overlay;
    }
}