#noticias{
    padding: 1rem;
    justify-content: space-evenly;
    align-content: center;
    .noticias__tab{
        justify-content: space-evenly;
    }
    .noticias__ant{
    font-family: rubik;
    }
    .noticias__card{
        background-color: #3b4754;
        padding: 0.5rem;
        margin-top: 0.5rem;
    }
}