* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Stem;
  src: url(../assets/fnt/EM-Stem/OTF/Stem-BoldItalic.otf); }

.borde-texto {
  color: #DDDDDD;
  text-shadow: -1px -1px 0 #323d48, 1px -1px 0 #323d48, -1px 1px 0 #323d48, 1px 1px 0 #323d48; }

header {
  background-color: #DDDDDD;
  border-bottom: #C98C27 solid 3px; }

.navbar {
  border-bottom: #C98C27 solid 3px; }

.bg-custom {
  background-color: white; }

.link__animation {
  color: #323d48; }

.link__animation:hover {
  transition: 1s;
  color: #C98C27; }

.logo__size {
  height: 100px;
  width: 100px; }

.logo__size:hover {
  transition: 2s;
  transform: scale(1.1, 1.1); }

.logotipo {
  font-family: 'Stem', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #323d48;
  text-decoration: none; }

.navbar-light .navbar-nav .nav-link {
  color: #323d48; }

.navbar-light .navbar-nav .nav-link:hover {
  transition: 0.5s;
  color: #C98C27; }

body {
  font-family: 'Rubik';
  background-color: #DDDDDD;
  color: #DDDDDD;
  padding-top: 115px;
  background: #485563;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #29323c, #485563);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #29323c, #485563);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

#noticias {
  padding: 1rem;
  justify-content: space-evenly;
  align-content: center; }
  #noticias .noticias__tab {
    justify-content: space-evenly; }
  #noticias .noticias__ant {
    font-family: rubik; }
  #noticias .noticias__card {
    background-color: #3b4754;
    padding: 0.5rem;
    margin-top: 0.5rem; }

.nav-link {
  color: #DDDDDD; }

.nav-link:hover {
  color: #c98c27; }

.bg-dark {
  background-color: #323d48; }

.barra {
  border-bottom: #c98c27 solid 2px; }

.p-1 {
  padding: 1rem; }

.bg-cards {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bg-cards:hover {
  transition: 2s;
  background-blend-mode: overlay; }

#videos {
  /* margin-left: 4rem; */
  padding-top: 1rem; }

.videos__grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

#destacado {
  padding: 1rem; }
  #destacado .destacado__tit {
    font-weight: 700; }
  #destacado .destacado__text {
    font-family: rubik;
    font-weight: 400; }

.destacado_link {
  color: #DDDDDD;
  text-decoration: underline; }

.destacado_link:hover {
  transition: 0.5s;
  color: #C98C27; }

.dest__img {
  height: 100%;
  width: 100%;
  object-fit: contain; }

.nav-link_tit {
  padding: 0rem;
  color: #DDDDDD;
  text-decoration: none; }

.nav-link_tit:hover {
  transition: 0.5s;
  color: #C98C27; }

footer {
  margin-top: 3rem; }

.btn-marg {
  margin-top: 0.2rem; }

.social {
  padding: 1rem;
  text-align: center; }

.copy__text {
  grid-area: copy;
  display: flex;
  color: #323d48;
  background-color: #DDDDDD;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-top: #C98C27 solid 3px;
  margin-top: 1rem;
  text-align: center; }

#articulo .articulo__tit {
  margin-top: 1rem;
  font-weight: 600; }

#articulo .articulo__est {
  font-family: rubik;
  margin-top: 1rem;
  font-size: large; }

.img__sec {
  height: 100%;
  width: 100%;
  object-fit: contain; }
