* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Stem;
  src: url(../assets/fnt/EM-Stem/OTF/Stem-BoldItalic.otf); }

header {
  background-color: #DDDDDD;
  border-bottom: #C98C27 solid 3px; }

.bg-custom {
  background-image: linear-gradient(to right, white, #DDDDDD); }

.link__animation {
  color: #323d48; }

.link__animation:hover {
  transition: 1s;
  color: #C98C27; }

body {
  background-color: #323d48;
  color: #DDDDDD; }

.logo__size {
  height: 100px;
  width: 100px; }

.logo__size:hover {
  transition: 2s;
  transform: scale(1.1, 1.1); }

.logotipo {
  font-family: 'Stem', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #323d48;
  text-decoration: none; }

#destacado {
  padding: 1rem;
  border-bottom: #C98C27 solid 2px; }
  #destacado .destacado__tit {
    font-weight: 700; }
  #destacado .destacado__text {
    font-family: rubik;
    font-weight: 400; }

#noticias {
  padding: 1rem;
  justify-content: space-evenly;
  align-content: center; }
  #noticias .noticias__tab {
    justify-content: space-evenly; }
  #noticias .noticias__ant {
    font-family: rubik; }
  #noticias .noticias__card {
    background-color: #3b4754;
    padding: 0.5rem;
    margin-top: 0.5rem; }

#videos {
  /* margin-left: 4rem; */
  padding-top: 1rem; }

.dest__img {
  height: 100%;
  width: 100%;
  object-fit: contain; }

footer {
  margin-top: 3rem; }

.btn-marg {
  margin-top: 0.2rem; }

.social {
  padding: 1rem; }

.copy__text {
  grid-area: copy;
  display: flex;
  background-color: #3b4754;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-top: #C98C27 solid 3px;
  margin-top: 1rem;
  text-align: center; }

#articulo .articulo__tit {
  margin-top: 1rem;
  font-weight: 600; }

#articulo .articulo__est {
  font-family: rubik;
  margin-top: 1rem;
  font-size: large; }

.img__art {
  height: 100%;
  width: 100%;
  object-fit: contain; }
