* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Stem;
  src: url(../assets/fnt/EM-Stem/OTF/Stem-BoldItalic.otf); }

.borde-texto {
  color: #DDDDDD;
  text-shadow: -1px -1px 0 #323d48, 1px -1px 0 #323d48, -1px 1px 0 #323d48, 1px 1px 0 #323d48; }

header {
  background-color: #DDDDDD;
  border-bottom: #C98C27 solid 3px; }

.navbar {
  border-bottom: #C98C27 solid 3px; }

.bg-custom {
  background-color: white; }

.link__animation {
  color: #323d48; }

.link__animation:hover {
  transition: 1s;
  color: #C98C27; }

.logo__size {
  height: 100px;
  width: 100px; }

.logo__size:hover {
  transition: 2s;
  transform: scale(1.1, 1.1); }

.logotipo {
  font-family: 'Stem', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #323d48;
  text-decoration: none; }

.navbar-light .navbar-nav .nav-link {
  color: #323d48; }

.navbar-light .navbar-nav .nav-link:hover {
  transition: 0.5s;
  color: #C98C27; }

body {
  font-family: 'Rubik';
  background-color: #DDDDDD;
  color: #DDDDDD;
  padding-top: 115px;
  background: #485563;
  background: -webkit-linear-gradient(to left, #29323c, #485563);
  background: linear-gradient(to left, #29323c, #485563); }

#noticias {
  padding: 1rem;
  justify-content: space-evenly;
  align-content: center; }
  #noticias .noticias__tab {
    justify-content: space-evenly; }
  #noticias .noticias__ant {
    font-family: rubik; }
  #noticias .noticias__card {
    background-color: #3b4754;
    padding: 0.5rem;
    margin-top: 0.5rem; }

.nav-link {
  color: #DDDDDD; }

.nav-link:hover {
  color: #c98c27; }

.bg-dark {
  background-color: #323d48; }

.barra {
  border-bottom: #c98c27 solid 2px; }

.p-1 {
  padding: 1rem; }

.bg-cards {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bg-cards:hover {
  transition: 2s;
  background-blend-mode: overlay; }

@media (max-width: 768px) {
  .bg-cards {
    background-blend-mode: overlay; } }

#videos {
  /* margin-left: 4rem; */
  padding-top: 1rem; }

.videos__grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

#destacado {
  padding: 1rem; }
  #destacado .destacado__tit {
    font-weight: 700; }
  #destacado .destacado__text {
    padding: 0rem 0.5rem;
    font-family: rubik;
    font-weight: 400;
    margin-block-end: auto;
    margin-block-start: auto; }

.destacado_link {
  color: #DDDDDD;
  text-decoration: underline; }

.destacado_link:hover {
  transition: 0.5s;
  color: #C98C27; }

.dest__img {
  height: 100%;
  width: 100%;
  object-fit: contain; }

.nav-link_tit {
  padding: 0rem;
  color: #DDDDDD;
  text-decoration: none; }

.nav-link_tit:hover {
  transition: 0.5s;
  color: #C98C27; }

.destacado__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7); }

@media (max-width: 768px) {
  .destacado__overlay {
    display: none;
    position: static;
    padding-top: 1rem;
    margin-bottom: 1rem;
    background: none; }
  .carousel {
    padding-bottom: 0.1rem;
    margin-bottom: 1rem;
    border-bottom: #C98C27 solid 2px; } }

#agenda {
  justify-content: center; }
  #agenda .agenda-tit {
    align-self: center;
    font-weight: 700; }
  #agenda .agenda-pos {
    align-self: end; }
  #agenda .agenda-txt a p {
    color: #323d48; }

.list-group {
  flex: auto; }

.list-group-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 2 1 0;
  padding: 0.5rem 1rem;
  color: #323d48;
  text-decoration: none;
  background-image: linear-gradient(to right, #DDDDDD 0%, #cccccc 51%, #dddddd 100%);
  border: 1px solid rgba(0, 0, 0, 0.125);
  transition: 0.5s;
  background-size: 200% auto; }

.list-group-item-action:hover {
  z-index: 1;
  background-position: right center;
  color: #323d48;
  text-decoration: none; }

footer {
  margin-top: 3rem; }

.btn-marg {
  margin-top: 0.2rem; }

.social {
  padding: 1rem;
  text-align: center; }

.copy__text {
  grid-area: copy;
  display: flex;
  color: #323d48;
  background-color: #DDDDDD;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-top: #C98C27 solid 3px;
  margin-top: 1rem;
  text-align: center; }

#articulo .articulo__tit {
  margin-top: 1rem;
  font-weight: 600; }

#articulo .articulo__est {
  font-family: rubik;
  margin-top: 1rem;
  font-size: large; }

.img__sec {
  height: 100%;
  width: 100%;
  object-fit: contain; }
